<%- include("header"); -%>

<div class="box">


  <%  for(var i = 0 ; i<newListItems.length ; i++){ %>
    <div class="item">
      <input type="checkbox" name="" value="">
      <p><%= newListItems[i] %></p>
    </div>
  <%  }%>

  <form class="item" action="/" method="post">

    <br>
    <button type="submit" name="list" value =<%= listTitle %>>+</button>
    <input type="text" name="newItem" placeholder="Add Task"autocomplete="off" >
    <!-- <button type="submit" name="submit" value="d.elete">-</button> -->
  </form>
</div>
<%- include("footer"); -%>
